<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>

<div class="container">

  {{ content }}

</div>
    <nav>
<ul>
  <li><a href="/MSIA421Project/newspca">News PCA/Alpha</a></li>
  <li><a href="/MSIA421Project/nonnewspca">Non-News PCA/Alpha</a></li>
  <li><a href="/MSIA421Project/clustering">Clustering and Results</a></li>
  <li><a href="https://aronliu.shinyapps.io/421project/">Results per Show</a></li>
</ul>
    </nav>
  </body>

</html>
